.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  background-color: #f3f3f3;
  padding: 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  grid-row-start: 2;
  justify-content: flex-start;
  background-color: #fff;
  border: none !important;
  border-radius: 6px;
  width: 400px;
  
  @media (max-width: 500px) {
    width: 100%;
  }
}
